body {
  padding-top: 70px;
  padding-bottom: 30px;
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;

  padding: 10px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.logo {
    padding-top: 5px;
    padding-bottom: 5px;
}

.carousel-indicators li {
  background-color: #333333;
}
.carousel-indicators .active {
  background-color: #000000;
}

.hljs {
  padding: 0 !important;
  background: none !important;
}

.shadow {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
}